[Desktop Entry]
Name=Chromium Custom
Comment=Open Chromium with remote debugging
Exec=chromium-browser --no-first-run --incognito --remote-debugging-port=9222 --remote-debugging-address=0.0.0.0 --user-data-dir=/tmp/chrome_profile --no-sandbox --disable-dev-shm-usage
Icon=google-chrome
Terminal=false
Type=Application
Categories=Network;WebBrowser;